@font-face {
  font-family: "digital";
  src: url("/fonts/digital.fnt");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}



#game-title h1, .game-info{    
    color: gold;    
    font-family: "digital";
    letter-spacing: 3px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #262626;
    border: 10px solid #e8e8e8;
    box-shadow: inset 3px 3px 10px #c5c5c5,
            inset -3px -3px 5px #c5c5c5;
    width: 400px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin: 20px auto;
}

#time-remaining, #flips{
  font-family: "digital";
}

.game-info
{
    margin: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    border-radius: 0;
    position: absolute;
    top: 150px;   
}

#timer
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    left: 50%;
    transform: translate(-225%, -0%);   
}

#flip-meter
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    right: 50%;
    transform: translate(225%, -0%);   
}

#card-deck{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;    
    flex-wrap: wrap;
    perspective: 1000px; 
    width: 500px;
    height: 650px;
    padding: 30px;
    border-radius: 20px;
    background: #e8e8e8;
    border: 10px solid #e8e8e8;
    box-shadow: inset 13px 13px 5px #c5c5c5,
            inset -13px -13px 5px #c5c5c5;    
  
}

.card{    
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative; 
    transform-style: preserve-3d;   
}

.card:active
{
  transform: scale(0.9);
  transition: 0.2s;
}

.card-face {
  position: absolute;  
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;    
  backface-visibility: hidden;
  transition: transform .5s;
}

.card.visible .card-back {
  transform: rotateY(180deg); 
}

.card.visible .card-front {
  transform: rotateY(0deg); 
}


.card-back {
  background-color: black;  
}

.card-front {
  background-color: #FFBB89;
  border-color: #333;
  transform: rotateY(180deg);
}

.reverse {
  width: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transition: transform 100ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);   
}

.card-image
{
  width: 65px;
  position: relative;
  top: 50%;
  left: 50%;     
  transform: translate(-50%, -50%) scale(1);   
}

.card-back:hover .reverse {
  animation: jaws 0.5s linear infinite; 
}

.card-back:hover .corner {
  transition: transform 300ms ease-in-out;
  transform: scale(0.7); 
}

.card.matched .card-front .card-image {
  animation: dance 1s linear infinite 500ms;
}

.corner {
  position: absolute;
  width: 20px; 
}

.corner-top-left{
  top: 5px;
  left: 5px;
}
.corner-top-right{
  top: 5px;
  right: 5px;
}

.corner-bottom-left{
  bottom: 5px;
  left: 5px;
}

.corner-bottom-right {  
  bottom: 5px;
  right: 5px;
}

.cover-layer.mask
{
  top: 0;
  right: 0;
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;  
  backdrop-filter: blur(4px); 
  transition: background-color 1000ms;   
}

.cover-layer.mask.visible
{
  display: unset;
  animation: mask-fadein 500ms forwards;
  
}
.cover-layer {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  color: gold;  
  transition: font-size 500ms;
}

.cover-layer-small {
  font-size: .3em;  
}

.cover-layer.visible {
  display: flex;  
  animation: cover-layer-grow 500ms forwards;
}

@keyframes cover-layer-grow {
  from {    
    font-size: 0;
  }
  to {    
    font-size: 8em;
  }
}

@keyframes mask-fadein {
  from {    
    background-color: rgba(0, 0, 0, 0);
  }
  to {    
    background-color: rgba(0, 0, 0, .8);
  }
}

@keyframes jaws {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1) rotate(0)
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2) rotate(-30deg);     
  }
  75% {
    transform: translate(-50%, -50%) scale(1.5) rotate(30deg);     
  }
}

@keyframes dance {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1) rotate(0)
  }
  25% {
    transform: translate(-50%, -50%) scale(1) rotate(-30deg)
  }
  75% {
    transform: translate(-50%, -50%) scale(1) rotate(30deg)
  }
}











